@page "/counter"
@rendermode @(new InteractiveWebAssemblyRenderMode(true))

@using System.IO
@using System.Reflection
@using Shared.Interfaces
@using Shared.Services
@using Shared

@inject IDataFileService DataFileService
@inject ILogger<Counter> Logger
@inject IJSRuntime JSRuntime

<PageTitle>WasmDemo</PageTitle>
@foreach (var file in fileDetails)
{
    <TableEditor DataFile="@file"></TableEditor>
    <br />
}

<div class="bg-dark text-white m-2">
    <pre>Interactive: @this.RendererInfo.IsInteractive</pre>
    <pre>Type: @this.RendererInfo.Name</pre>
</div>

@code {
    private List<DataFile> fileDetails = new List<DataFile>();

    protected override async Task OnInitializedAsync()
    {
        fileDetails = await DataFileService.GetFiles(10)??[];
    }
}
