@using Shared
@using Shared.Services


<h4>@DataFile.FileName</h4>
<div class="card card-body example-spacing" style="width: fit-content; background-color: #cff4fc;">
    <MonacoEditor ElementId="@DataFile.FileName"
                  ScriptContent="@(string.Join("\n", DataFile.Content))"
                  @ref="_monacoEditorInstance"
    Language="Language.Json"
    Style="width:800px; height:400px" />

</div>

@code {
    [Parameter] public DataFile DataFile { get; set; }

    private MonacoEditor _monacoEditorInstance = null!;
    private EditorOptions _editorOptions = new();
    private bool _isloaded = false;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if ( (_monacoEditorInstance != null) && (! _isloaded))
        {
// uncomment the line below to get the error
           // await _monacoEditorInstance.SetEditorContent(string.Join("\n", DataFile.Content));
            _isloaded = true;
        }
    }
}
