@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="bg-dark text-white m-2">
    <pre>Interactive: @this.RendererInfo.IsInteractive</pre>
    <pre>Type: @this.RendererInfo.Name</pre>
</div>
